body, section, div,h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0 0;
}
.whole_page {
    background-color: rgb(220, 71, 30);
}

/*? Начальная секция сайта*/
.initial_section {
    background-color: blue;
    height: 400px;
}
.titleInitSection {     /*Заголовок начальной секции*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}