* {
	box-sizing: border-box;
}

.container {
	border: 1px solid rgb(24, 32, 181);
}
.block {
	border: 1px solid red;
	background-color: rgb(78, 234, 67);
	margin: 5px;
	max-width: 200px;
	min-height: 100px;
	display: inline-block;
    align-self: ;
	overflow-x: scroll;
	padding: 5px 10px 25px;
}
.inline {
	/* display: inline-block; */
}
