::placeholder {
    color: blue;
}

.conteiner {
    border: 1px solid gray;
    box-shadow: 2px 2px 5px black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 200px;



}

.title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.inputBox1,
.inputBox2 {
    text-align: center;
}