body {
    background-color: rgb(73, 69, 68);

    .orderform {
        
        .tr-title {
            background: #a19999;
            .item {
                width: 150px;
                text-align: center;
            }

            .quantity {
                width: 15px;
                text-align: center;

            }
        }
        .ordertable {
            .input-text {
                max-le
            }

            .input-button {
                
            }
        }
    }


}